# HSE 2023: Введение в машинное обучение БИ 22/23

## ДЗ 1

### Внимание!
* Если в задании просят объяснить что-либо, то это значит, что требуется **письменный ответ**, который **является** частью задания и оценивается
* **Не** загружайте датасет (titanic.csv) в тестирующую систему (он у нас и так есть)
* Мы **только** принимаем **ipynb** ноутбуки. Если вы используете Google Colab, то вам необходимо скачать ноутбук перед сдачей ДЗ
* **Не** используйте циклы python вместо векторных операций NumPy над векторами NumPy - это сильно влияет на производительность (можете почитать почему https://blog.paperspace.com/numpy-optimization-vectorization-and-broadcasting/), наказывается -0.25 за **каждое** задание. Циклы разрешены только в части 1 (Задания 1 - 4). 
* Некоторые задания содержат тесты. Они тестируют ваше решение только для простых случаев. Таким образом, прохождение теста, **не** гарантирует полной оценки за задание.

In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Python (2 балла)

**Задание 1** (0.5 балла)<br/> 
Даны ненулевые числа `a`,  `r` и `N`. Найдите произведение первых `N` членов геометрической прогрессии с первым членом `a` и множителем `r` без использования формулы для произведения первых `N` членов

In [ ]:
def find_product(a,r,N):
    ## Your code here
    return arr_product

a = 2
r = 3
N = 3
print(find_product(a,r,N))

**Задание 2** (0.5 балла) <br/> 
Дано целое число `N`. Проверьте является ли оно палиндромом. Это значит, что число читается одинаково слева направо и справа налево.

In [ ]:
def check_palindrome(N):
    ## Your code here
    return check_palindrome

for N in [3, 81, 111, 113, 810, 2022, 4774, 51315, 611816]:
    print(N, check_palindrome(N))

**Задание 3** (0.5 балла) <br/> 
Найдите первые `N` палиндромов для чисел, начинающихся от 1000 (вы можете использовать функцию из предыдущего задания).

In [ ]:
def find_palindromes(N):
    ## Your code here
    return palindromes

print(find_palindromes(5))
print(find_palindromes(10))
print(find_palindromes(20))

**Задание 4** (0.5 балла) <br/> 
Даны числа: `a`, `b`, `c`. Без использования функций `min`, `max` и других, найдите минимальное.

In [ ]:
from random import randint
def find_min(a, b, c):
    ## Your code here
    return min_

for i in range(10):
    
    a = randint(-100, 100)
    b = randint(-100, 100)
    c = randint(-100, 100)
    
    print(a, b, c, '\tMinimum:', find_min(a, b, c))

# 2. Numpy (4 балла)

**Задание 1** (0.5 балла) <br/>
Создайте случайный numpy вектор (`np.random.rand()`) длины 17 и с суммой элементов равной 6.

In [ ]:
my_array = ## Your code here
print(f'Length: {len(my_array)}')
print(f'Sum of elements: {np.sum(my_array)}')

**Задание 2** (0.5 балла) <br/>
Создайте два случайных вектора $a$ и $b$ одинаковой длины. 

Расчитайте следующие расстояния между векторами **без использования специальных функций. Вы можете использовать только базовые операции numpy  (`np.linalg.*` и другие высокоуровневые методы и пакеты запрещены).**:

* Manhattan
$$ d(a, b) = \sum_i |a_i - b_i| $$
* Euclidean
$$ d(a, b) = \sqrt{\sum_i (a_i - b_i)^2} $$
* Chebyshev
$$ d(a, b) = \underset{i}{max} |a_i - b_i| $$
* Cosine
$$ d(a, b) = 1 - \frac{a^\top b}{||a||_2\cdot||b||_2} $$

In [ ]:
def calculate_manhattan(a, b):    
    ## Your code here
    return distance

def calculate_euclidean(a, b):    
    ## Your code here
    return distance

def calculate_chebyshev(a, b):    
    ## Your code here
    return distance

def calculate_cosine(a, b):    
    ## Your code here
    return distance

In [ ]:
a = ## Your code here
b = ## Your code here
print(f'Manhattan distance: {calculate_manhattan(a, b)}')
print(f'Euclidean distance: {calculate_euclidean(a, b)}')
print(f'Chebyshev distance: {calculate_chebyshev(a, b)}')
print(f'Cosine distance: {calculate_cosine(a, b)}')

**Задание 3** (0.5 балла) <br/>
Создайте случайный вектор (`np.random.randint()`) длины 76. Трансформируйте вектор так, чтобы после преобразования он имел следующие свойства 
* Максимальный элемент -1
* Минимальный элемент -4
* Оставшиеся значения в интервале (-4; -1) без изменения относительного порядка ([1, 2, 4] -> [0.1, 0.2, 0.4] - порядок сохранен)

In [ ]:
def transform(array):
    ## Your code here
    return transformed_array

In [ ]:
my_array = ## Your code here
my_array = transform(my_array)
print(f'Min: {np.min(my_array)}')
print(f'Max: {np.max(my_array)}')
print('Array:')
print(my_array)

**Задание 4** (0.5 балла) <br/>
Создайте матрицу размерности $8 \times 5$ с целыми числами из промежутка [-7, 43]. Выведите колонку, которая содержит максимальный элемент матрицы.

In [ ]:
my_array = ## Your code here
selected_column = ## Your code here
print('Shape: ', my_array.shape)
print('Array:')
print(my_array)
print(f'Selected column: {selected_column}')

**Задание 5** (0.5 балла) <br/>

Замените все пропущенные значения на медиану.

In [ ]:
arr = np.random.rand(10)
idx = np.random.randint(0, 10, 4)
arr[idx] = np.nan

print('Array:')
print(arr)

In [ ]:
def replace_missing(arr):
    ## Your code here
    return array_without_missing

In [ ]:
arr = replace_missing(arr)
print('Array with no missing values:')
print(arr)

**Задание 6** (0.5 балла) <br/>
Создайте функцию, которая принимает на вход картинку ```X``` (3D вектор размерности (n, m, 3)) и возвращает среднее по всем 3 каналам (вектор размерности 3).

In [ ]:
def mean_channel(X):
    # Your code here
    return mean_vector

In [ ]:
n = 19
m = 23
X =  np.random.randint(-11, 8, size=(n, m, 3))
mean_channel(f'Vector of means: {X}')

**Задание 7** (1 балл) <br/>
Создайте функцию, которая принимает 3D вектор ```X``` на вход и возвращает все уникальные слои по 1 оси.

Пример входных данных:

     ([[[1, 2, 3],
        [1, 2, 3],
        [1, 2, 3]],

       [[4, 5, 6],
        [4, 5, 7]
        [4, 5, 6]],

       [[7, 8, 9],
        [7, 8, 9]
        [7, 8, 9]]])
        
Пример выходных:

     ([[[1, 2, 3],
        [1, 2, 3]],

       [[4, 5, 6],
        [4, 5, 7]],

       [[7, 8, 9],
        [7, 8, 9]]])

In [ ]:
def get_unique_columns(X):
    ## Your code here
    return X_unique

In [ ]:
X =  np.random.randint(4, 6, size=(n, 3, 3))
print('Matrix:')
print(X)
print('Unique rows:')
get_unique_rows(X)

# 3. Pandas & Visualization (4 балла)

Вам предстоит работа с датасетом *Titanic*, который содержит информацию о пассажирах Титаника:
- **Survived** - 1 - выжил, 0 - умер (0); **Целевая переменная**
- **pclass** - класс пассажира;
- **sex** - пол пассажира
- **Age** - возраст пассажира в годах
- **sibsp**    - есть ли на борту братья и сестры   
- **parch**    - есть ли на борту родители или дети
- **ticket** - номер билета    
- **fare** - цена билета    
- **cabin** - номер каюты
- **embarked** - порт посадки; C = Cherbourg, Q = Queenstown, S = Southampton

**Заметка** Для всех визуализаций используйте  matplotlib или seaborn, но НЕ plotly! Графики Plotly иногда исчезают после сохранения. В этом случае задание оценено не будет.

**Заметка** все ваши ответы должны быть поддержаны необходимым кодом, вычислениями, визуализацией и объяснениями. Ответы без кода и объяснений оцениваться не будут.

**Задание 0** (0 баллов) \
Загрузите датасет и выведите первые 5 строк

In [ ]:
dataset =  ## Your code here
## Your code here

**Задание 1** (1 балл) <br/>
Ответьте на следующие вопросы:
    
    * Есть ли в датасете пропущенные значения? В каких колонках?
    * Какой процент пассажирова выжил? Сбалансированы ли классы пассажиров?
    * Кого больше, мужчин или женщин?
    * Какой наименее популярный порт посадки?
    * Сколько классов пассажиров (pclass) было на титанике?
    * Какова средняя цена билета? И средняя цена в зависимости от класса пассажира?
Пожалуйста, указывайте не только ответ, но и код, с помощью которого вы его получили.

In [ ]:
## Your code here

**Задание 2** (0.5 балла) <br/>
Визуализируйте распределение возраста (вы можете использовать гистограммы, к примеру). 

    * Какие максимальный и минимальный возраста пассажиров? Визуализируйте их на графике
    * Какой среддний возраст? Также по мужчинам и женщинам в отдельности? Визуализируйте на графике
    * Сделайте выводы по графику, который у вас получился

In [ ]:
## Your code here

**Задание 3** (1 балла) <br/>
Найдите все титулы пассажиров (например, *Capt., Mr.,Mme.*), которые записаны в колонке Name, и ответьте на следующие вопросы:

    * Сколько всего уникальных титулов?
    * Сколько всего пассажиров по каждому титулу??
    * Какой наиболее популярный титул у мужчин? У женщин?
    
**Подсказка** Вы можете извлечь титул из имени, так как это слово, которое содержит точку.

In [ ]:
## Your code here

**Задание 4** (0.5 балла) <br/>
Присутствует ли корреляция между *pclass* и *ticket price*? Посчитайте среднюю цену для каждого порта и визуализируйте распределение цен по каждому порту. Сделайие выводы по графику

Подсказка: вы можете сделать разные типы графиков, такие как box, violine, pair, histogram. Обоснуйте выбор графиков и сделайте значимые выводы

In [ ]:
## You code here

**Задание 5** (0.5 балла) <br/>
Такие же вопросы, как и в задании 4, но про корреляцию между *embarked* и *ticket priсe*.

In [ ]:
## You code here

**Задание 6** (0.5 балла) <br/>
Визуализируйте распределение возарста для выживших и погибших пассажиров по отдельности, посчитайте средний возраст по выжившим и погибшим. Отличаются ли они? Постройте визуализацию для мужчин и женщин по отдельности. Сделайте выводы о том, что вы видите на графиках

In [ ]:
## You code here